.git
.venv
**/__pycache__
**/*.pyc
.pytest_cache
.env
data/cache/*
data/results/*
!data/cache/.gitkeep
!data/results/.gitkeep
frontend/node_modules
frontend/dist
/*.tgz
/*.zip
/*.png
frontend/node_modules
frontend/dist
